body{
    margin: 0;
    height: 100vh;
    background: linear-gradient(#e599a9, hsl(355, 98%, 74%));
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'poppins', sans-serif;
}
h1{
    position: absolute;
    top: 90px;
    left: 50%;
    transform: translateX(-50%);
    font-family: 'Dancing Script', cursive;
}
.header{
    transition: opacity 1s ease, transform 1s ease;
}
.header.hide{
    opacity: 0;
    transform: translateY(-10px);
    pointer-events: none;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100vh;
    width: 300px;
}

.envelope{
    margin-top: 30px;
    position: relative;
    width: 220px;
    height: 140px;
    cursor: pointer;
    transition: transform 1s ease, opacity 1s ease;
}
.envelope img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.envelope.open{
    opacity: 0;
    transform: translateY(-50px);
    pointer-events: none;
}

.heart {
    margin-bottom: 45px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    font-size: 30px;
    color: #e91e63;
    animation: pulse 1.2s infinite;
}
.hidden{
    opacity: 0;
    pointer-events: none;
}
.letter{
    margin-top: 100px;
    padding: 50px;
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translate(-50%, 120%);
    width: 400px;
    opacity: 25px;
    background:
    radial-gradient(circle at 20% 30%, rgba(0,0,0,0.06), transparent 40%),
    radial-gradient(circle at 80% 70%, rgba(0,0,0,0.05), transparent 45%),
    repeating-linear-gradient(
      -5deg,
      rgba(0,0,0,0.03) 0px,
      rgba(0,0,0,0.03) 1px,
      transparent 3px,
      transparent 6px
    ),

    linear-gradient(#e9d5a3, #e8d9b0);

  background-blend-mode: multiply;

    border-radius: 6px;
    box-shadow: 
        0 12px 30px rgba(0,0,0,0.25);
    font-family: 'Dancing Script', cursive;    
    color: #4b2e1e; 
    font-size: 18px;
    line-height: 1.6;
    opacity: 0;
    transition: all 1.2s ease;
}

.letter.show{
    transform: translate(-50%, -90px);
    opacity: 1;
}
@keyframes rise{
    to   {transform: translate(-50%, 0px); opacity: 1;}
}
